*{
    margin: 0%;

}
body{
    background-image: url(https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/eso_1280p.jpg?itok=JRNCv2y0);

}

.firstLineTop{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top:15px ;


}
.firstLine{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 25px;
    /* border-style: ; */
    border: 2px inset  rgb(255, 0, 0);
}
#BOX{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        border: 2px inset  rgb(250, 0, 0);
        align-items: center;
        height: 450px;
        margin: 63px;
        margin-left: 287px;
        margin-right: 287px;
        background-color: rgb(20, 36, 31);
        background-image: url( https://d2r55xnwy6nx47.cloudfront.net/uploads/2021/02/Blackhole_statistics_2880x1620_Lede.jpg)
}

.wholeBox{
    margin-top:30px ;
    display:flex ;
    flex-direction: column;
    border: 2px inset  rgb(28, 141, 84);
    align-items: center;
    width: 92%;
    height: 60%;
    background-image: url();

    
}
#QA{
    margin-top: 20px;
    margin-bottom: 20px;
    color: wheat;
}
.questionBox{
    width: 55%;
    padding: 23px;
    border-top: 2px inset  rgb(28, 141, 84);
    text-align: center;
}

.fouansers{
    display: flex;
      /* grid-template-rows: 100px 200px; */
      align-items: center;
    justify-content: center;
    width: 90% ;
    height: 35%;
    margin-top:111px ;
    margin-right: 34px; 
    /* border-top: 2px inset  black; */
}
button {
    display: inline-block;
 
  font-size: 24px;
  cursor: pointer;
  /* text-align: center; */
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(61 100 174 / 70%);;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
button:hover {background-color: #ff0000}

button:active {
  background-color: #0026fd;
  box-shadow:  5px #666;
  transform: translateY(4px);
}

.button {
    display: grid;
    margin-left: 20px;
    width: 95%;
    grid-template-columns: 1fr 1fr ;
    /* justify-content: space-around; */
    /* align-items: center; */

    row-gap: 25px; 
    column-gap: 25px;
}
.nextBotton{
    display: flex;
    justify-content: center;
    margin: -40px;

}
#next{
    margin-bottom: -37px;

}
.Questions{
    font-size: 36px;
    color: wheat;
}




.answer {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(61 100 174 / 70%);
    background-image: linear-gradient(to top left,
                            rgba(0, 0, 0, .2),
                            rgba(0, 0, 0, .2) 30%,
                            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.answer:hover {
    background-color: rgba(255, 0, 0, 1);
}

.answer:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
    background-color: rgb(0, 4, 255);


}

















                
/*     
    body{
        background: wheat;
        background-image: url("https://previews.123rf.com/images/me67kz/me67kz1701/me67kz170100156/71982359-old-dirty-paper-background-paper-texture-for-design-.jpg");
    }
    .firstLineTop{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .firstLine{
        display: flex;
        margin-top: 15px;
        width: 70%;
        height: 20px;
        border: 3px double   black;
        justify-content: center;
        text-align: center;
        margin-top: 15px;

    }
    #QA1{
        Change font style
        position: relative;
        text-align: center;
        font-size: large;
        bottom: 20px;      
    } */
/* ---------------------------------------------------------------------- */
    /* .wholeBox{
        display: flex;
        margin-top: 30px;
        width: 70%;
        height: 500px ;
        border: 3px double   black;
        justify-content: center;
        text-align: center;
        margin-left: 14.5%;
    }
    .midBox{
        position :relative;
        width: 700px;
        height: 286px;
        border: 10px double black;
        top: 50px;
        left: 28px;
        
    }
    #QA{
        border-bottom: 3px solid black;
        margin-block-end: 6%;
        font-size: 40px;
    }p{
        font-size: 26px;
    }
    .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      }
      .button:hover {background-color: #3e8e41}
      .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
 */

